.main-footer {
  color: white;
  background-color: #24c5d4;
  padding-top: 0.5em;
  position: relative;
  bottom: -140;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

li>a {
  color: white;
}

li>a:hover {
  color: #e0e0e0;
}

li {
  display: inline;
}

ul {
  display: block;
  left: 10%;
}

.col-lg {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

    bottom: 3px;
    left: 33%;

  }

div {
  display: block;
}